{% extends "bootstrap/base.html" %}
{% block title %}This is an example page{% endblock %}

{% block navbar %}
<div class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">LR</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{{url_for('index')}}">home</a></li>
                <li><a href="{{url_for('train')}}">train</a></li>
                <li><a href="{{url_for('predict')}}">predict</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
{% block content %}

<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6 bg-primary" style="padding:20px;color:white;">
      <h1>Linear regression</h1>
      <h5>Train you model</h5>
      <form action="{{url_for('training')}}" method="get">
        <div class="row" style="padding-bottom:50px;padding-top:50px;">
            <div class="col-md-2">
                <label for="">Data name</label>
            </div>
            <div class="col-md-8">
                <input type="range" name="theRange" class="form-control" min=5 max=70 oninput="rgChanged()" id="rg">
            </div>
            <div class="col-md-1">
                <span id="percent">5%</span>
            </div>
        </div>
        <input type="submit" class="btn btn-warning" value="Train">
      </form>
    </div>
    <div class="col-md-2"></div>
</div>
{% endblock %}

{% block scripts %}
{{super()}}
<script>
    rgChanged()
    function rgChanged(val)
    {   
        var val=$('#rg').val()
        $('#percent').text(val+"%")
    }
</script>
{% endblock %}